.mainContainer {
  /* max-height: 80vh; */
}

.fishingContainer {
  /* position: absolute;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.foundItems {
  background-color: blue;
  width: 50%;
}
